/* Header */
.mdc-main-top-bar {
    /* padding-bottom: 50%; */
    min-height: 280px;
    background-image: url("https://gwanwoodev.github.io/assets/img/posts/march-logo.jpg");
    background-size: cover;
    position: static;
    background-position: center center;
    background-color: transparent;
}

.mdc-main-top-bar .mdc-custom-icon {
    color: white;
}

.wrapper-header {
    position: relative;
}

/* Cards */

.card-preview {
    justify-content: flex-start;
}
.card-footer {
    display: flex;
    justify-content: flex-end;
}

.mdc-card__action-buttons > .card-btn {
    background-color: black;
    border-color: black;
}

/* Drawer */

.mdc-drawer {
    position: fixed;
}

.mdc-list-href {
    text-decoration: none;
}

/* Login */

#loginButton {
    background-color: rgb(129, 127, 254);
    border-color: rgb(129, 127, 254);
    height: 45px;
}

/* Admin */

.wrapper-admin-header {
    padding-bottom: 64px;
}

.mdc-admin-top-bar {
    background-color: dodgerblue;
}