/* Body */
body {
    font-family: "NanumGothic-Regular";
}

/* wrapper */
.wrapper {
    position: relative;
}

/* header-section */
.header-section {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.header-section .header-title {
    color: white;
    font-size: 2rem;
}

.header-section .bold {
    font-family: "NanumGothic-ExtraBold";
}

.header-section .header-text {
    margin-top: 12px;
    font-size: 1rem;
}

/* Contents - tags */
.wrapper .wrapper-header .tags {
    position: absolute;
    display: flex;
    left: 50%;
    top: 85%;
    transform: translate(-50%, 0);
}

.wrapper .wrapper-header .tags .tag {
   margin-right: 10px;
   color: white;
   border: 1px solid whitesmoke;
   border-radius: 20px;
   padding: 5px 10px;
   font-size: 12px;   
}
