/* Header */
.mdc-top-app-bar {
    padding-bottom: 35%;
    background-image: url("https://gwanwoodev.github.io/assets/img/posts/march-logo.jpg");
    background-size: cover;
    position: static;
    background-color: transparent;
}

.mdc-top-app-bar .mdc-custom-icon {
    color: white;
}

.wrapper-header {
    position: relative;
}